.full {
    width: 100%;
    padding: 0 7%;
    display: table;
    margin: 0;
    max-width: none;
    height: 100vh;
}

.content {
    display: table-cell;
    vertical-align: middle;
}


.background-section2
{
    background: #092756;
    background: radial-gradient(ellipse at bottom left, rgba(104,128,138,0.4) 10%, rgba(138,114,76,0) 40%), linear-gradient(to bottom, rgba(57,173,219,.25), rgba(42,60,87,0.4)), linear-gradient(135deg, #95A5A6, #22313F);
    color: black;

}

.marge{
    padding-bottom: 50px;
}

.background-section3{
    background: #FFFFFF;
}

.benefits{
    background-color: #fbfbfb;
}

#mug{
    padding-right: 50px;
    padding-left: 70px;
    text-align: left;
}
#soleil{
    justify-content: center;
    text-align: left;
}

#flocon{
    padding-left: 47px;
    justify-content: center;
    text-align: left;
}
#etagerePuce{
    padding-right: 50px;
    padding-left: 70px;
    text-align: left;
}

.slogan {
    top: 0;
    color: white;
    display: block;
    font-size: 50px;
    font-family: Carosello;
    margin-left: 155px;
}

#image{
    max-width: 70%;
}

#btAchete{
    background-color: #22313F;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    border-radius: 2px;

    display: inline-block;
    margin-top: 30px;
}

#btSubmit{
    background-color: #22313F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 2px;
    margin-top:50px;
}

#prix{
    margin-top: 30px;
    font-size: large;
    font-weight: bolder;
}

#facebook{
    content: "\f09a";
}

#social{
    position: absolute;
    top: 7px;
    left: 1000px;
}

#text1{
    font-size: 2em;
    margin-top: 100px;
}

.btn-color
{
    width: 56px ;
    height:56px;
    border:none;
}

.color1
{
    background-color: #CE5548;
}

.color2
{
    background-color: #2C9296;
}

.color3
{
    background-color: #80BC9C;
}

.color4
{
    background-color: #CB647E;
}

.color5
{
    background-color: #000000;
}

.vertical-align
{
    margin-top: 10%;
}

.bullet
{
    list-style: none;
}

.history
{
    margin-bottom: 50px;
}

.contact-form
{
    width:35%;
    height:50px;
    font-size: 18px;
    padding-left: 20px;
    font-style: italic;
    font-weight: 100;
    border:2px solid #C6C7C8;
    margin:10px auto 0px;
}

.contact{
    margin-bottom: 70px;
}

.contact-text
{
    margin-bottom: 40px;
}
