.background-section2
{
    background: #092756;
    background: radial-gradient(ellipse at bottom left, rgba(104,128,138,0.4) 10%, rgba(138,114,76,0) 40%), linear-gradient(to bottom, rgba(57,173,219,.25), rgba(42,60,87,0.4)), linear-gradient(135deg, #95A5A6, #22313F);
    color: black;

}

.marge{
    padding-bottom: 50px;
}

.background-section3{
    background: #FFFFFF;
}

.benefits{
    background-color: #fbfbfb;
}

#mug{
    padding-right: 50px;
    padding-left: 70px;
    text-align: left;
}
#soleil{
    justify-content: center;
    text-align: left;
}

#flocon{
    padding-left: 47px;
    justify-content: center;
    text-align: left;
}
#etagerePuce{
    padding-right: 50px;
    padding-left: 70px;
    text-align: left;
}

.slogan {
    top: 0;
    color: white;
    display: block;
    font-size: 50px;
    font-family: Carosello;
    margin-left: 155px;
}

#image{
   float: left;
    max-width: 500px;
    max-height: 500px;
}

#btAchete{
    background-color: #22313F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 2px;
    float:right;
    margin-top:150px;
    margin-right: 180px;
}

#btSubmit{
    background-color: #22313F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 2px;
    float:right;
    margin-top:50px;
    margin-right: 493px;
}

#prix{
    text-align: right;
    margin-top:250px;
    margin-right: 180px;
}

#facebook{
    content: "\f09a";
}

#social{
    position: absolute;
    top: 7px;
    left: 1000px;
}

#text1{
    font-size: 2em;
    margin-top: 100px;
}
